.sliderContainer{
    height: 490px;
    width: 1000px;
    position: relative;
    margin: 20px auto 0 auto;
    -webkit-box-shadow: 0px 0px 8px #969697;  
    -moz-box-shadow: 0px 0px 8px #969697;  
    box-shadow: 0px 0px 8px #969697;  
}