<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Hello React!</title>
</head>

<body>
    <div id="example"></div>

    <script src="//cdn.bootcss.com/react/15.4.2/react.js"></script>
    <script src="//cdn.bootcss.com/react/15.4.2/react-dom.js"></script>
    <script src="//cdn.bootcss.com/react-router/2.8.1/ReactRouter.js"></script>
    <script src="//cdn.bootcss.com/redux/3.6.0/redux.js"></script>
    <script src="//cdn.bootcss.com/react-redux/5.0.2/react-redux.js"></script>
    <script src="//cdn.bootcss.com/redux-thunk/2.2.0/redux-thunk.js"></script>
</body>

</html>